.givat-banner-video-btn .line {
    text-decoration: inherit;
}
body {
  margin: 0 auto;
  scroll-behavior: auto;
  overflow-x: hidden;
  /* height: auto; */
  min-height: 100svh;
}
html {
    scroll-behavior: auto;
}
